<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "TestNG Listeners suite Example">
    <listeners>
        <listener class-name="Intermedio.Clase10.Ejemplo6_ITestListener.TestListeners"></listener>
    </listeners>
    <test name = "Tests">
        <classes>
            <class name = "Intermedio.Clase10.Ejemplo5_ISuiteListener.SalesforceTest"></class>
            <!--<class name = "Intermedio.Clase10.Ejemplo5_ISuiteListener.NetflixTest"></class>-->
        </classes>
    </test>

</suite>